@import url("https://fonts.googleapis.com/css2?family=Mochiy+Pop+P+One&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input[type="submit"],
button {
  background-color: rgb(122, 116, 116);
  color: white;
  text-transform: uppercase;
  padding: 0.8rem;
  border-radius: 5px;
  border: none;
  font-size: 0.9rem;
  transition: all 0.5s;
  cursor: pointer;
}
input[type="submit"] {
  margin-left: 150px;
  width: 250px;
}

button {
  width: 48%;
  margin-top: 2rem;
}

input[type="submit"]:hover,
button:hover {
  background-color: rgb(45, 60, 19);
}

.secondary {
  border: darkolivegreen;
  color: darkolivegreen;
  background: transparent;
}

/***************** FORM COMPONENT *********************/
form {
  padding: 2rem;
  background: rgb(133, 192, 241);
  color: rgb(53, 93, 121);
  width: 70%;
}
label {
  width: 150px;
  display: inline-block;
}
form div {
  margin: 1rem 0;
}
input,
textarea,
select {
  font-family: "Roboto" sans-serif;
  background: #f4f4f4;
  border: 1px solid rgb(102, 102, 102);
  width: 250px;
  padding: 0.8rem;
  border-radius: 5px;
  font-size: 0.9rem;
}

/***************** VIEW COMPONENT *********************/
.view {
  padding: 2rem;
}

.notepad {
  background: #78923b;
  color: rgb(53, 93, 121);
  margin: 1rem 0;
  position: relative;
  width: 50%;
  box-shadow: 0 0 5px rgb(121, 121, 121);
}

.notepad::before {
  content: "";
  width: 2px;
  height: 100%;
  position: absolute;
  left: 35px;
}

.notepad p {
  padding: 1rem;
  border-bottom: 5px double rgb(146, 172, 243);
  text-indent: 50px;
}

.notepad span {
  font-family: "Mochiy Pop P One", sans-serif;
  font-size: 1.5rem;
  margin-left: 15px;
}

/*********;******** POPUP COMPONENT *********************/

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(51, 51, 51, 0.9);
  display: flex;
  justify-content: center;
  align-items: center;
}

.popup {
  position: relative;
  top: 0;
  left: 0;
  height: 50%;
  width: 50%;
  background-color: rgb(123, 178, 211);
  padding: 2rem;
  box-shadow: 0 0 5px rgb(55, 80, 92);
  margin: 0 auto;
}
.popup p {
  padding: 1rem 0;
  color: rgb(55, 80, 92);
}

.popup h1 {
  color: green;
}
